// Custom styling for version information display
.version-info {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid $border-color;
  color: $grey-dk-200;
  font-size: 0.8rem;
  
  p {
    margin: 0;
  }
}
